.task {
  width: 100%;
  background: var(--bg-dark-light);
  border: 1px solid var(--gray);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.task p {
  font-size: 14px;
  line-height: 19px;
  color: var(--txt-white);
  margin-right: auto;
}

p.textCompleted {
  color: var(--gray);
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid var(--secondary);
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: var(--green);
}

.deleteButton {
  background: none;
  border: none;
  color: var(--gray);
}