.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 1.75rem;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 1rem;
}

@media all and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 700;
}

.textGreen {
  color: var(--green) !important;
}

.header span {
  background: var(--black);
  color: var(--gray-light);
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
