/*********** RESET ************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --bg-light: #f0f0f0;
  --bg-dark: #333;
  --white: #fff;
  --gray-light: #ccc;
  --gray-dark: #555;
  --shadow: rgba(0, 0, 0, 0.1);
  --error: rgb(215, 7, 7);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-light);
}

/***********  HEADER & FOOTER ******/
header {
  position: sticky;
  top: 0;
  left: 0;
}

footer,
h1 {
  text-align: center;
  background-color: var(--bg-dark);
  color: var(--white);
  padding: 2rem 1rem;
}

footer a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
}
/*********** MAIN ***********/
main {
  min-height: 90vh;
}

form {
  max-width: 400px;
  margin: 3rem auto 5rem;
  padding: 1.75rem 1.25rem 3rem;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 7px;
  box-shadow: 0 0 18px var(--shadow);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

label {
  display: block;
  margin: 10px 0px 5px;
  font-weight: 600;
}

input,
select {
  width: 90%;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid var(--gray-light);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

input.error {
  border: 2px solid var(--error);
}

.error-message {
  color: var(--error);
  margin-top: 5px;
}

#valorSeguro {
  margin-top: 10px;
  font-weight: bold;
}

button {
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--white);
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

button:hover {
  background-color: var(--gray-dark);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  box-shadow: 0 0 100px var(--shadow);
  padding: 2.75rem 1.5rem;
  text-align: center;
  z-index: 2;
}
