/***** ROOT *****/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #1d2948;
  --bg-black: rgba(0, 0, 0, 0.5);
  --bg-gray-shadow: rgba(0, 0, 0, 0.3);
  --pink: #f0929a;
  --yellow: #f6f098;
  --cyan: #5cf7e4;
  --white: #f0efef;
}

/*** RESET - BODY ***/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
}

/***** Commond styles ******/
.container {
  max-width: 800px;
  margin: 0 auto;
}

.bg-y {
  background-color: var(--yellow);
}

.h-100 {
  min-height: 100vh;
}

/******* BUTTON *******/
button {
  border-radius: 8px;
  border: none;
  padding: 12px 18px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--pink);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  border: none;
  background-color: var(--cyan);
  color: var(--bg-color);
}

