.newTaskForm {
  width: 90%;
  max-width: 736px;
  display: flex;
  gap: 16px;
  padding: 0 1rem 1.5rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 767px) {
  .newTaskForm {
    flex-direction: column;
  }
}

.newTaskForm input {
  width: 100%;
  color: var(--white);
  background: var(--bg-dark-light);
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
}

.newTaskForm input::placeholder {
  color: var(--gray);
}

.newTaskForm button {
  min-height: 50px;
  height: 100%;
  padding: 0 16px;
  background: var(--green);
  color: var(--bg-darker);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.newTaskForm button:hover {
  background-color: var(--bg-secondary-dark);
  color: var(--white);
}
